services:
  postgres:
    image: postgres:latest
    container_name: local-postgres
    environment:
      POSTGRES_DB: delivery_db
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: secret
      TZ: Asia/Ho_Chi_Minh

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d app_db"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  postgres_data:
